.white {
    color: #f5f5f5;
}

.cv-background {
    background: url("/static/img/klaviatura_knopka_chb_enter_31023_1920x1200.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.cv-header {
    min-height: 150px;
    height: 150px;
}

.cv-opaque {
    background-color: rgba(62, 62, 61, 0.6);
}

.cv-close {
    cursor: hand;
}

.cv-table-hover tbody tr:hover {
  background: rgba(62, 62, 61, 1);
}

a,
.uk-link {
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.uk-link:hover {
  color: #f5f5f5;
  text-decoration: underline;
}
