<h3 class="white">Education <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#education'), $(this))"></span></h3>

<div id="education">
    <ul>
        <li><span class="uk-text-bold">2005 – 2010 - </span>PhD. in Physics of Semiconductors and Dielectrics Ivan Franko National University of Lviv</li>
        <li><span class="uk-text-bold">2000 – 2005 - </span>Master&#39;s degree with cum laude in Applied Physics Ivan Franko National University of Lviv Specialization:“Radio physics and Electronics”</li>
        <li><span class="uk-text-bold">1997-2000 - </span>Physics and Mathematics Lyceum in Lviv, High School</li>
    </ul>
</div>
