<h3 class="white">Experience <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#experience'), $(this))"></span></h3>
<hr class="uk-article-divider" />
<div id="experience">
    <h4 class="white">2014 –  until today Lvivsoft, Python Developer <span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#lvivsoft'), $(this))"></span></h4>
    <div id="lvivsoft" class="uk-grid">
        <h4 class="white">Responsibilities: </h4>
        <p>Building a web scrapers on Python to effectively gather web content from a set of famous clothes store using BeautifulSoup, Requests, Scrapy tools to create structured data which used in IOs app, analysing system’s requirements, communication with a client.</p>
    </div>

    <hr class="uk-article-divider" />

    <h4 class="white">2012 – 2014 Lvivsoft, QC/QA Engeneer<span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#lvivsoft0'), $(this))"></span></h4>
    <div id="lvivsoft0" class="uk-grid">
        <h4 class="white">Responsibilities: </h4>
        <p>Analysing system’s requirements, building test cases and test plans, “front-end” and “back-end” testing (functional, smoke, regression, load, performance), client side testing - android/iOS platforms, automation of backend testing process (JMeter), writing queries for DB, reporting stuff, communication with a client.</p>
    </div>

    <hr class="uk-article-divider" />

    <h4 class="white">2005 – 2012 Ivan Franko National University of Lviv, Ukraine<span class="uk-float-right uk-icon-minus-square-o" onclick="closeContainer($('#university'), $(this))"></span></h4>
    <div id="university" class="uk-grid">
        <h4 class="white">Engineer, Junior Research Associate, Head of the Laboratory, Research Associate </h4>
    </div>
</div>
