<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Page Not Found{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
</head>

<body class="cv-background white">
   
    <header>
        {% include "header.html" %}
    </header>

    <div class="uk-article-divider"></div>

    <div>

        {% block content %}
            <h1>404</h1>
            <p>This is not the page you're looking for.</p>
            <p>Please look at -
            <b><a href="{{ url_for('home') }}"> CV page,</a></b>
             if you are looking Maryan Partyka Professional Resume</p>
        {% endblock content %}
    </div>

</body>
</html>
