
<div id="personal">
    <div class="uk-grid">
        <div class="uk-width-1-3" align="center">
            <img src="/static/img/my_photo.jpg" width="200" />
        </div>
        <div class="uk-width-1-2">
            <h3 class="white">Contact Details </h3>
            <table class="uk-table cv-table-hover uk-vertical-align-middle">
                <tbody>
                    <tr>
                        <td>Phone 
                        <font color="#f5f5f5">
                        <b> &nbsp;+380982606528</b> 
                        </font></td>
                    </tr>
                    <tr>
                        <td>E-mail 
                        <font color="#f5f5f5">
                        <b><a href="mailto:maryan.partyka@gmail.com">   &nbsp; maryan.partyka@gmail.com</a>
                        </b></font></td>
                    </tr>
                    <tr>
                        <td>Skype 
                        <font color="#f5f5f5">
                        <b> &nbsp; marjan_partyka</b> 
                        </font></td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>
