<h3 class="white">Skills </h3>
<hr class="uk-article-divider" />
<div id="skills">
    <div id="skill-details" class="uk-grid">
        <div class="uk-width-1-2">
            <h4 class="white">Programming Languages/ Technologies </h4>
            <ul>
                <li>Python (2 years)</li>
                <li>Java (4 months)</li>
                <li>HTML/CSS/ JavaScript (6 months)</li>
                <li>XML (3 months)</li>
                <li>Ruby (3 months)</li>
            </ul>
        </div>

        <div class="uk-width-1-2">
            <h4 class="white">Frameworks </h4>
            <ul>
                <li>Selenium RC/IDE (4 months)</li>
                <li>Watir (4 months)</li>
                <li>Cucumber (3 months)</li>
                <li>JUnit (4 months)</li>
                <li>Scrapy (4 months)</li>
                <li>Flask (1 month)</li>
            </ul>
        </div>
    </div>

<!--     <hr class="uk-article-divider" /> -->

    <div id="skill-details" class="uk-grid">
        <div class="uk-width-1-2">
            <h4 class="white">RDBMS </h4>
            <ul>
                <li>My SQL (1,5 years)</li>
                <li>MS SQL Server 2008 (6 months)</li>
                <li>MS SQL Management Studio(3 months)</li>
            </ul>
        </div>

        <div class="uk-width-1-2">
            <h4 class="white">Development Tools </h4>
            <ul>
                <li>Pycharm (2 years)</li>
                <li>Eclipse &amp; Plug-ins (1 year)</li>
                <li>Git (1,5 years)</li>
            </ul>
        </div>
    </div>

<!--     <hr class="uk-article-divider" /> -->

    <div id="skill-details" class="uk-grid">
        <div class="uk-width-1-2">
            <h4 class="white">Methodologies </h4>
            <ul>
                <li>SCRUM (6 months)</li>
                <li>Waterfall (2 months)</li>
                <li>Agile (6 months)</li>
            </ul>
        </div>

        <div class="uk-width-1-2">
            <h4 class="white">Testing Tools </h4>
            <ul>
                <li>JMeter (1 year)</li>
                <li>Jira (1 year)</li>
                <li>Pivotal (1 years)</li>
                <li>Firebug (2 years)</li>
                <li>Redmine (1 years)</li>
            </ul>
        </div>
    </div>

<!--     <hr class="uk-article-divider" /> -->

    <div id="skill-details" class="uk-grid">
        <div class="uk-width-1-2">
            <h4 class="white">Operating Systems </h4>
            <ul>
                <li>Microsoft Windows 95/ 98/ 2000/ XP/ (7 years)</li>
                <li>Linux (Ubuntu) (2 years)</li>
            </ul>
        </div>

        <div class="uk-width-1-2">
            <h4 class="white">Other Software </h4>
            <ul>
                <li>MS Office (Word, Excel, PowerPoint)</li>
                <li>VMware Player</li>
                <li>LaTeX, Origin</li>
                <li>IE/Firefox/Opera/Chrome brawser</li>
            </ul>
        </div>
    </div>
</div>
