<h3 class="white">Summary of Qualifications </h3>
<div id="motivation">
    <p>I have two years of experience in Python Development, one and a half year in testing process and software testing. Notably, I have practical experience in Web Scraping, QA automation with Selenium, Backend testing, analysis and reporting data results.</p>

    <p>I’m responsible, sociable, self-rigorous, not afraid of difficulties, have analytical and communication skills and capable of learning, able to work alone or as a part of team.</p>
</div>
